body {
	background-color: #5CDB95; 
}

nav.horizontalBar {
	background-color: #05386B;
	width: 100%;
	display: inline-block;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li.natPark {
	float: left;
	border-right: 1px solid #EDF5E1;

}

li.natPark:last-child {
	border-left: 1px solid #EDF5E1;
}


li a {
	display: block;
    color: #EDF5E1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
	background-color: #195E96;
}

img.headPic {
	display: block;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	height:  50%;
}

h1.parkName {
	text-align: center;
	color: #EDF5E1;
}

ul.parkFacts {
	text-align: center;
	color: #EDF5E1;
	list-style-type: none;

}

section.bodyText {
	background-color: #05386B;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

p.parkInfo {
	color: #EDF5E1;
	margin-left: 5%;
	margin-right: 5%;
}

h3.resourcesHead {
	color: #EDF5E1;
	margin-left: 5%;
	margin-right: 5%;
}

ul.resources {
	color: #EDF5E1;
	margin-left: 5%;
	margin-right: 5%;
}

div.myDiv {
	display: none;
}

div.trivia {
	color: #EDF5E1;
	margin-left: 5%;
	margin-right: 5%;
	display: none;
}

p.fact {
	color: #EDF5E1;
	margin-left: 5%;
	margin-right: 5%;
}

button.triviaButton {
	margin-left: 5%;
	margin-right: 5%;
}

.link {
	color: #EDF5E1;
	margin-left: 5%;
	margin-right: 5%;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

.mySlides {
  display: none;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #05386B;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.active,
.demo:hover {
  opacity: 1;
}